body{
    margin: 0px;
    padding: 0px;
}
.flexbox{
    display: flex;
    align-items: flex-end;
    margin: 0px;
}
.item1{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;
    min-height: 200px;
    background-color: black;
    color: white;
    min-height: 600px;
}
.item2{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;
    min-height: 200px;
    background-color: black;
    color: white;
    min-height: 200px;
}
.item3{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;
    min-height: 200px;
    background-color: black;
    color: white;
    min-height: 100px;
}